{% extends '::base.html.twig' %}
{% block title %}{{ "orgs.title"|trans|desc('Manage organisation') }} || {{ org.name }}{% endblock %}
{% block body %}
    {% for product in org.products %}
        <div class="col-7 col-sm-6 col-lg-4">
            <h2>{{ product.name }}</h2>
            {% if product.currentStock is null %}
                <span class="label label-info">{{ "stock.unknown"|trans|desc('Stock unknown') }}</span>
            {% else %}
                {% if product.currentStock.amount < product.minStock %}
                    <span class="label label-danger">{{ "stock.under.min"|trans|desc("Stock under minimum stock") }}</span>
                {% elseif product.currentStock.amount == product.minStock %}
                    <span class="label label-warning">{{ "stock.is.min"|trans|desc("Stock is minimum stock") }}</span>
                {% elseif product.currentStock.amount == product.maxStock %}
                    <span class="label label-warning">{{ "stock.is.max"|trans|desc("Stock is maximum stock") }}</span>
                {% elseif product.currentStock.amount > product.maxStock %}
                    <span class="label label-danger">{{ "stock.over.max"|trans|desc("Stock over maximum stock") }}</span>
                {% else %}
                    <span class="label label-success">{{ "stock.is.ok"|trans|desc("Stock OK") }}</span>
                {% endif %}
            {% endif %}

            <p>{{ product.description }}
            <hr class="hr_no_margin"/>{{ "stock.min"|trans({"%amount%": product.minStock })|desc("Minimum stock: %amount%") }}
            <br/>{{ "stock.max"|trans({"%amount%": product.maxStock })|desc("Maximum stock: %amount%") }}<br/>
            <!-- TODO: Fix me with transcount -->
            {{ "stock.current"|trans|desc('Current stock:') }}
            {% if product.currentStock is null %}
                {{ "general.unknown"|trans|desc("Unknown") }}
            {% else %}
                {{ product.currentStock.amount }} {{ "general.on"|trans|desc("on") }} {{ product.currentStock.created|date }}
            {% endif %}
            <hr class="hr_no_margin"/>
            {% if product.stocks|length > 1 %}
                <a class="btn btn-default" data-show-history="show" data-show-id="{{ product.id }}"
                   role="button">{{ "organisation.history"|trans|desc("History") }}</a>
            {% else %}
                {{ "organisation.not.enough.info"|trans|desc("Not enough information to draw graph.") }}
                <!-- Compensate for size of button?!? --><br/><br/>
            {% endif %}
            </p>
        </div>
    {% endfor %}

    <div class="modal fade" id="startStocking" tabindex="-1" role="dialog" aria-labelledby="StartStock"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-save-state="start-stock-cancel" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title"
                        id="myModalLabel">{{ "modal.stock.stocking"|trans|desc("Stock information") }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ "modal.stock.stocking.desc"|trans|desc("Stock information is saved separately for each product. Once you are done, just close the
                        window.") }}</p>

                    <span style="display: none" data-change-stock="form">
                        <h4 data-change-stock="title"></h4>

                        {% for product in org.products %}
                            <p style="display: none" data-change-stock="info-{{ product.id }}">
                                {{ product.description }}
                                <span class="error"
                                      data-new-stock-error="{{ product.id }}">{{ "modal.stock.amount.required"|trans|desc("New stock amount is required, and needs to be zero or higher.") }}</span>
                                <input type="text" data-new-stock="{{ product.id }}" required="required"
                                       class="form-control"
                                       placeholder="{{ "modal.stock.new.stock"|trans({"%unit%": product.stockUnit})|desc("New stock (In %unit%)") }}"/>
                            </p>
                        {% endfor %}

                        <button type="button" class="btn btn-default"
                                data-save-state="cancel-current-product">{{ "general.cancel"|trans|desc("Cancel") }}
                        </button>
                        <button type="button" class="btn btn-default"
                                data-save-state="save-current-product">{{ "general.save"|trans|desc("Save") }}
                        </button>
                    </span>

                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-bordered table-striped"
                               data-change-stock="table">
                            <thead>
                            <tr>
                                <th>{{ "modal.stock.product"|trans|desc("Product") }}</th>
                                <th>{{ "modal.stock.old"|trans|desc("Old stock") }}</th>
                                <th>{{ "modal.stock.new"|trans|desc("New stock") }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in org.products %}
                                <tr data-row="stock" data-row-stock="{{ product.id }}"
                                    data-row-name="{{ product.name }}" class="warning">
                                    <td><img src="{{ asset('bundles/vrbhsite/ajax-loader.gif') }}"
                                             data-row-loading="{{ product.id }}"
                                             style="display: none;"/>{{ product.name }}</td>
                                    <td>
                                        {% if product.currentStock is null %}
                                            {{ "modal.stock.unknown"|trans|desc("Stock unknown") }}
                                        {% else %}
                                            {{ product.currentStock.amount }}
                                        {% endif %}
                                    </td>
                                    <td data-new-stock="{{ product.id }}"></td>
                                    <td><a href="" onclick="return false">{{ "modal.stock.update"|trans|desc("Update stock") }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    Legend?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-save-state="start-stock-cancel"
                            data-dismiss="modal">{{ "general.close"|trans|desc("Close") }}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="startOrdering" tabindex="-1" role="dialog" aria-labelledby="StartOrder"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-save-state="start-order-cancel" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title"
                        id="myModalLabel">{{ "modal.stock.order"|trans|desc("Order information") }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ "modal.stock.order.desc"|trans|desc("Order information is saved separately for each product. Once you are done, just close the
                        window.") }}</p>

                    <span style="display: none" data-change-order="form">
                        <h4 data-change-order="title"></h4>

                        {% for product in org.products %}
                            <p style="display: none" data-change-order="info-{{ product.id }}">
                                {{ product.description }}
                                <span class="error"
                                      data-new-order-error="{{ product.id }}">{{ "modal.order.amount.required"|trans|desc("New order amount is required, and needs to be zero or higher.") }}</span>
                                <input type="text" data-new-order="{{ product.id }}" required="required"
                                       class="form-control"
                                       placeholder="{{ "modal.stock.new.order"|trans({"%unit%": product.orderUnit})|desc("Order (In %unit%)") }}"/>
                            </p>
                        {% endfor %}

                        <button type="button" class="btn btn-default"
                                data-save-state="cancel-current-order">{{ "general.cancel"|trans|desc("Cancel") }}
                        </button>
                        <button type="button" class="btn btn-default"
                                data-save-state="save-current-order">{{ "general.save"|trans|desc("Save") }}
                        </button>
                    </span>

                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-bordered table-striped"
                               data-change-order="table">
                            <thead>
                            <tr>
                                <th>{{ "modal.stock.product"|trans|desc("Product") }}</th>
                                <th>{{ "modal.order.currentStock"|trans|desc("Current stock") }}</th>
                                <th>{{ "modal.order.ordered"|trans|desc("Ordered") }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in org.products %}
                                <tr data-row="order" data-row-order="{{ product.id }}"
                                    data-row-name="{{ product.name }}" class="warning">
                                    <td><img src="{{ asset('bundles/vrbhsite/ajax-loader.gif') }}"
                                             data-row-loading="{{ product.id }}"
                                             style="display: none;"/>{{ product.name }}</td>
                                    <td>
                                        {% if product.currentStock is null %}
                                            {{ "modal.stock.unknown"|trans|desc("Stock unknown") }}
                                        {% else %}
                                            {{ product.currentStock.amount }}
                                        {% endif %}
                                    </td>
                                    <td data-new-order="{{ product.id }}"></td>
                                    <td><a href="" onclick="return false">{{ "modal.order.update"|trans|desc("Add order") }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    Legend?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-save-state="start-order-cancel"
                            data-dismiss="modal">{{ "general.close"|trans|desc("Close") }}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/vrbhsite/products.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var createProduct = "{{ path('createProduct', {'org': org.id}) }}";
        var createStock = "{{ path('createStock', {'org': org.id, "product": 999}) }}";
        var createOrder = "{{ path('createOrder', {'org': org.id, "product": 999}) }}";
    </script>
{% endblock %}


{% block sidebar %}
    <div class="list-group">
        <h4 class="list-group-item">Products</h4>
        <span class="list-group-item" id="add-product">
        <button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#createNewProduct">
            {{ "org.add.new.product"|trans|desc("Add new product") }}
        </button></span>
        <span class="list-group-item" id="add-product">
        <button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#startStocking">
            {{ "org.count.stock"|trans|desc("Count stock") }}
        </button></span>
        <span class="list-group-item" id="add-product">
        <button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#startOrdering">
            {{ "org.create.order"|trans|desc("New order") }}
        </button></span>
        <a class="list-group-item">{{ "org.number.of.products"|trans({"%number%": org.products|length})|desc("Number of products: %number%") }}</a>
    </div>


    <div class="modal fade" id="createNewProduct" tabindex="-1" role="dialog" aria-labelledby="CreateNewProduct"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-save-state="create-new-product-cancel" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ "org.new.product.title"|trans|desc("New product") }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ "org.new.product.desc"|trans|desc("Create a new product, linked to the current organisation. All fields are required.") }}</p>

                    <p>
                        <span id="product-name-error" class="error">{{ "org.new.product.error.name"|trans|desc("The name parameter is required.") }}</span>
                        <input type="text" data-save-state="create-new-product-name" required="required"
                               class="form-control" placeholder="Product name"/>
                        <span id="product-description-error" class="error">{{ "org.new.product.error.desc"|trans|desc("The description parameter is required.") }}</span>
                        <textarea data-save-state="create-new-product-description" required="required"
                                  class="form-control" placeholder="Description"></textarea>
                        <span id="product-stockunit-error" class="error"
                              style>{{ "org.new.product.error.stock.unit"|trans|desc("The stock unit parameter is required.") }}</span>
                        <select id="stock-unit" required="required" data-save-state="create-new-product-stock-unit"
                                class="form-control">
                            <option>stock unit</option>
                            <option>1</option>
                            <option>24 (Crate)</option>
                            <option>box</option>
                            <option>bread</option>
                        </select>
                        <span id="product-orderunit-error" class="error">{{ "org.new.product.error.order.unit"|trans|desc("The order unit parameter is required.") }}</span>
                        <select id="order-unit" data-save-state="create-new-product-order-unit" required="required"
                                class="form-control">
                            <option>order unit</option>
                            <option>1</option>
                            <option>24 (Crate)</option>
                            <option>box</option>
                            <option>bread</option>
                        </select>
                        <span id="product-min-stock-error" class="error">{{ "org.new.product.error.min.stock"|trans|desc("The minimum stock parameter is required.") }}</span>
                        <input type="number" required="required" class="form-control" placeholder="Minimum stock"
                               data-save-state="create-new-product-min-stock"/>
                        <span id="product-max-stock-error" class="error">{{ "org.new.product.error.max.stock"|trans|desc("The maximum stock parameter is required.") }}</span>
                        <input type="number" required="required" class="form-control" placeholder="Maximum stock"
                               data-save-state="create-new-product-max-stock"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-save-state="create-new-product-cancel"
                            data-dismiss="modal">{{ "general.close"|trans|desc("Close") }}
                    </button>
                    <button type="button" class="btn btn-primary" data-save-state="create-new-product">{{ "general.save"|trans|desc("Save") }}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}