<form action="{{ path('fos_oauth_server_authorize') }}" method="POST" class="fos_oauth_server_authorize" {{ form_enctype(form) }}>
    <h1>{{ "oauth.wants"|trans({"%name%": client.name})|desc("%name% wants access to your account") }}</h1>
    <p>
        {{ "oauth.give"|trans({"%name%": client.name})|desc("Do you want to give the client %name% access to your account, and permission to read and write data to the linked organisations?") }}
    </p>

    <input type="submit" name="accepted" value="{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}" />
    <input type="submit" name="rejected" value="{{ 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') }}" />

    <h2>{{ "oauth.about"|trans({"name": client.name})|desc("About %name%") }}</h2>
    <p>
        {% if not client.description %}
            {{ "oauth.no.info"|trans|desc("There is no additional information available about this client.") }}
        {%  else %}
            {{ client.description }}
        {% endif %}
    </p>
    {{ form_row(form.client_id) }}
    {{ form_row(form.response_type) }}
    {{ form_row(form.redirect_uri) }}
    {{ form_row(form.state) }}
    {{ form_row(form.scope) }}
    {{ form_rest(form) }}
</form>
